extends ../node_modules/jade-bootstrap/_bootstrap

head
	title=title

block body
	+navbar("Colenso Project", "dropdown_menu")
		+nav_item("/") Home
		+nav_item("/browse", "active") Browse
	.container
		h2 !{title}
		h3 #[a(href='#{authorLink}') !{author}] 
		h3 !{place}
		h3 !{date}
		br
		br
		p !{body}
